.section-home__content {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
/*H1*/
.h1 {
	color: #343a40;
	font-weight: bold;
	font-size: 70px;
}
.h1 span {
	color: #ffc107;
}
.-mb-50 {
	margin-bottom: 50px;
}
/*H2*/
.-h2-gray {
	color: #a9a9a9;
}
/*BUTTON*/
.section-home__content-link {
	display: block;
	width: 100px;
	height: 100px;
	margin: 0 auto;
	position: relative;
}
.section-home__content-link:hover .section-home__content-linkname {
	transform: scale(1.5);
	background: rgba(255,193,7,1);
}
.section-home__content-spin {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-bottom-color: #ffc107;
	animation: spin 2.5s infinite linear;
}
.section-home__content-linkname {
	position: absolute;
	top: 21px;
	right: 21px;
	left: 21px;
	bottom: 21px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: rgba(255,193,7,0.9);
	display: flex;
	align-items: center;
	justify-content: center;
	color: #ffffff;
	transition: 0.4s;
}
.section-home__content-spin:before {
	content: '';
	display: block;
	position: absolute;
	top: 5px;
	right: 5px;
	left: 5px;
	bottom: 5px;
	border-bottom-color: #ffe186;
	animation: spin 2s infinite linear;
}
.section-home__content-spin:after {
	content: '';
	display: block;
	position: absolute;
	top: 13px;
	right: 13px;
	left: 13px;
	bottom: 13px;
	border-bottom-color: #fde9ad;
	animation: spin 1.5s infinite linear;
}
.section-home__content-spin, .section-home__content-spin:before, .section-home__content-spin:after {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	border-bottom-width: 3px;
	border-bottom-style: solid;
}
@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	0% {
		transform: rotate(360deg);
	}
}
@media (max-width: 1199px) {
	.h1 {
		font-size: 65px;
	}
}
@media (max-width: 991px) {
	.h1 {
		font-size: 42px;
	}
	.h2 {
		font-size: 26px;
	}
	.-mb-50 {
		margin-bottom: 30px;
	}
}
@media (max-width: 767px) {
	.section-home__content-link {
		display: none;
	}
}
@media (max-width: 575px) {
	.section-home__content-link {
		display: block;
	}
	.h2 {
		text-align: center;
	}
}
