.about_block__title, .about_block__description {
	text-align: right;
	display: block;
}
.about_block__title {
	text-transform: uppercase;
}
.about_block, .portfolio_block {
	position: relative;
	padding: 50px 0;
}
.block__background {
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background-color: #ced4da;
	z-index: -1;
	opacity: 0.8;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}
.-mb-15 {
	margin-bottom: 15px;
}
@media (max-width: 767px) {
	.block__background {
		display: none;
	}
	.about_block__title , .about_block__description {
		text-align: center;
	}
	.about_block__description {
		margin-bottom: 30px;
	}
	.about_block {
		padding: 20px 0;
	}
}