.header {
	padding: 10px 20px;
	background-color: #212529;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 3;
}
.header__top {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo__link {
	font-size: 18px;
	font-weight: 700;
	color: #fff;
	transition: 0.3s;
}
.logo__link:hover {
	text-decoration: none;
	color: #ffc107;
}
#menu-btn {
	width: 25px;
	cursor: pointer;
	overflow: hidden;
}
#menu-btn span {
	display: block;
	width: 100%;
	background-color: #fff;
	height: 2px;
	transition: 0.4s;
}
#menu-btn span ~ span {
	margin-top: 6px;
}
#menu-btn.open span:nth-child(2) {
	transform: translateX(-100%);
}
#menu-btn.open span:nth-child(1) {
	transform: rotate(45deg) translate(6px, 5px);
}
#menu-btn.open span:nth-child(3) {
	transform: rotate(-45deg) translate(7px, -5px);
}