body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@font-face {
  font-family: 'Orbitron';
  src: url(./fonts/Orbitron-Regular.woff) format('woff'),
        url(./fonts/Orbitron-Regular.ttf) format('ttf'),
        url(./fonts/Orbitron-Regular.woff2) format('woff2'),
        url(./fonts/Orbitron-Regular.eot) format('eot');
}
